# Node modules
node_modules/

# Build directory
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-järjestelmätiedostot
.DS_Store

# Editorin asetukset
.vscode/
.idea/

# Env-tiedostot (sisältävät salaisia avaimia)
.env
.env.local
